@import 'node_modules/modern-normalize/modern-normalize.css';

body {
  background-color: rgb(231, 228, 211);
  margin: 0;
  min-height: 100vh;
  padding: 0;
}

.bench {
  display: flex;
  height: 100vh;
  padding: 16px;
  width: 100%;
}

.population {
  flex-basis: 40%;
  overflow: scroll;
  padding-right: 21px;
}

.population__list {
  display: grid;
  gap: 1rem;
  grid-auto-rows: min-content;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.population__list svg {
  height: auto;
  pointer-events: none;
  user-select: none;
  width: 100%;
}

.generation__current {
  align-items: center;
  background-color: #fafafabb;
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  justify-content: center;
}

.generation__current svg {
  height: auto;
  width: 100%;
}

.population__citizen {
  cursor: pointer;
  position: relative;
}

.population__citizen:hover {
  border: 1px solid black;
  box-shadow: rgb(244, 201, 62) 8px 8px 0px 0px;
}

.population__citizen::before {
  color: rgba(9, 38, 149, 0.9);
  content: attr(data-score);
  font-size: 22px;
  font-weight: 900;
  height: 40px;
  line-height: 40px;
  overflow: hidden;
  text-align: center;
  text-overflow: clip;
  white-space: nowrap;
  width: 40px;
  position: relative;
  right: 0;
}

.export-button {
  cursor: pointer;
  display: inline-block;
  font-weight: 800;
  margin: 16px;
  padding: 8px;
}

@media (max-width: 768px) {
  .bench {
    flex-direction: column-reverse;
    height: auto;
  }
}
